
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);



.math{
	font-family: 'Permanent Marker', cursive;
    font-variant: small-caps;
    font-size: 10rem;
    -webkit-transform: skew(-15deg,-15deg);
    background-image: -webkit-linear-gradient(#FF0FF8 0%, #F9F9F7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* margin: 0; */
    -webkit-filter: drop-shadow(2px 2px 20px #f008b7);
    grid-area: a;
    align-self: center;
	    margin-bottom: 0.3em;
}

.dot {
    height: 420px;
    width: 420px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
      position: absolute;
    bottom: 31%;
	background: linear-gradient(red,yellow)
}

.triangle{
	stroke: #fd55f8;
}


.svgShit{
	    position: absolute;
    bottom: 28%;
}




body {
  background: #000;
  background-image: linear-gradient(to bottom, #6A0275 10%, #040C4A 60%);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.m-logo {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 501;
}

.lines {
    transform: rotateX(74deg);
    background-size: 40px 40px;
       background-image: repeating-linear-gradient(0deg, #FF0FF8, #FF0FF8 2px, transparent 1px, transparent 40px),repeating-linear-gradient(-90deg, #FF0FF8, #FF0FF8 2px, transparent 2px, transparent 40px);
    height: 500px;
    width: 200em;
    position: absolute;
    bottom: 0;
    left: -400px;
    z-index: 50;
}


.retro {
  perspective: 600px;
  width: 100%;
  height: 100vh;
  min-height: 400px;
  overflow: hidden;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}
.retro::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(transparent 70%, rgba(0, 0, 0, 0.5) 30%);
  background-size: 3px 5px;
  z-index: 601;
  pointer-events: none;
}

.m-grid {
  position: absolute;
  top: 50%;
  margin-top: -75vh;
  left: 50%;
  margin-left: -100vw;
  width: 200vw;
  height: 150vh;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  background-image: linear-gradient(0deg, transparent 24%, rgba(236, 0, 140, 0.5) 25%, rgba(236, 0, 140, 0.9) 26%, transparent 27%, transparent 74%, rgba(236, 0, 140, 0.5) 75%, rgba(236, 0, 140, 0.9) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(236, 0, 140, 0.75) 25%, rgba(236, 0, 140, 0.25) 26%, transparent 27%, transparent 74%, rgba(236, 0, 140, 0.75) 75%, rgba(236, 0, 140, 0.25) 76%, transparent 77%, transparent);
  background-size: 50px 50px;
}






